<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    {{/* Test Comment */}}
    <h1>{{.Name}}</h1>
    <h1>{{.Address.Street}}</h1>
</body>
</html>